<div id="home-button">
      <input type="button" value="Home" class="map-button"></input>
</div>

<div id="reset-button">
      <input type="button" value="Reset" class="map-button"></input>
</div>

<div id="help-button">
      <input type="button" value="Help" class="map-button" onclick="returnToBeginning();"></input>
</div>

<div id="precita-popup" class = "popup" title="Precita">
  <p>
    <% include ../partials/precita %>
  </p>
</div>


<div id="map"></div>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmkr8TmD8x5uppiNmwYlM70fFPBPPofqg&callback=initialize">
</script>
