<div id="home-button">
    <img src="../img/home.png" alt="Home" />
</div>

<div id="reset-button">
    <img src="../img/reset.png" alt="Home" />
</div>

<div id="help-button">
    <img src="../img/help.png" alt="Home" />
</div>

<div id="map-help-popup" class="popup" title="Help">
    <p>
        Use your mouse and keys to navigate through the streets. Click on any orange location markers you see on the ground.
        <br>
        <br>
        To see where all the poems are located, look at the small map on the lower section of the screen. There is a poem at each orange location marker. To change your position, drag the yellow person figure to the location you want to move to.
    </p>
</div>

<div id="precita-popup" class="popup" title="37&deg; 44&prime; 50&Prime; N 122&deg; 24&prime; 38&Prime; W">
    <p>
        <% include ../partials/precita %>
    </p>
</div>

<div id="ballroom-popup" class="popup" title="34&deg; 5&prime; 59&Prime; N 117&deg; 42&prime; 46&Prime; W">
    <p>
        <% include ../partials/ballroom %>
    </p>
</div>

<div id="crookshank-popup" class="popup" title="34&deg; 5&prime; 59&Prime; N 117&deg; 42&prime; 57&Prime; W">
    <p>
        <% include ../partials/crookshank %>
    </p>
</div>

<div id="bridges-popup" class="popup" title="34&deg; 5&prime; 51&Prime; N 117&deg; 42&prime; 45&Prime; W">
    <p>
        <% include ../partials/bridges %>
    </p>
</div>

<div id="south-popup" class="popup" title="34&deg; 5&prime; 48&Prime; N 117&deg; 42&prime; 59&Prime; W">
    <p>
        <% include ../partials/south %>
    </p>
</div>

<div id="village-popup" class="popup" title="34&deg; 5&prime; 44&Prime; N 117&deg; 43&prime; 5&Prime; W">
    <p>
        <% include ../partials/village %>
    </p>
</div>

<div id="house-popup" class="popup" title="34&deg; 6&prime; 15&Prime; N 117&deg; 42&prime; 54&Prime; W">
    <p>
        <% include ../partials/house %>
    </p>
</div>

<div id="mallot-popup" class="popup" title="34&deg; 6&prime; 10&Prime; N 117&deg; 42&prime; 41&Prime; W">
    <p>
        <% include ../partials/malott %>
    </p>
</div>

<div id="toll-popup" class="popup" title="34&deg; 6&prime; 19&Prime; N 117&deg; 42&prime; 39&Prime; W">
    <p>
        <% include ../partials/toll %>
    </p>
</div>

<div id="library-popup" class="popup" title="34&deg; 6&prime; 6&Prime; N 117&deg; 42&prime; 47&Prime; W">
    <p>
        <% include ../partials/library %>
    </p>
</div>

<div id="foothill-popup" class="popup" title="34&deg; 6&prime; 25&Prime; N 117&deg; 43&prime; 21&Prime; W">
    <p>
        <% include ../partials/foothill %>
    </p>
</div>

<div id="cathedral-popup" class="popup" title="59&deg; 51&prime; 29&Prime; N 17&deg; 37&prime; 55&Prime; E">
    <p>
        <% include ../partials/cathedral %>
    </p>
</div>

<div id="panorama" class="ui-resizeable"></div>
<div id="map" class="ui-resizeable"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmkr8TmD8x5uppiNmwYlM70fFPBPPofqg&callback=initialize">
</script>
