<!DOCTYPE html>

<head>
  <% include ../views/partials/header %>
  <script src = "../js/claremont.js"></script>
  <script src = "../js/map.js"></script>
</head>

<body>

  <% include ../views/partials/map %>

</body>

<html>
